@charset "UTF-8";

   .card-container {
 	display: grid;
 	grid-template-columns: repeat(5, 80px);
 	gap: 20px;
 	width: max-content;
 	margin: 20px auto;
	}
	.bornusItem{
	display:flex;
	flex-direction:column;
	align-items: center;
	}

	.stamp {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      border: 2px solid #ccc;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      width:80px;
      height:60px;
      
    }
    
	.stamp.checked {
      background-color: #a3e6a3;
      border-color: #6ccc6c;
      background-image: url("../img/friendw.png");
      background-size: cover; /* 画像を要素に合わせて調整 */
  	  background-position: center; /* 画像を中央に配置 */
  	  background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    }
   .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  /*border: 5px solid #98e4ab; /* 枠線の色と太さ */
  border-radius: 30px; /* 角を丸くする */
  padding: 20px; /* 内側の余白 */
  max-width: 600px;  /* 最大幅を指定 */
  width: 100%;
  margin: 0 auto; /* 中央揃え */
  /*background-color:#d2f8d8;*/
}
/*テキストボックスデザイン*/
label {
      font-size: 20px;
      /*color:#000000;*/
}

input {
    	/*background-color: #fcfefc; /*テキストボックス背景色*/
    	padding: 10px;
      	font-size: 15px;
      	margin-top :15px;
      	border-radius: 15px; /* 角を丸くする */
      /*	border: 2px solid #d2f8d8 ; /*テキストボックス枠線の色*/
} 
