@charset "UTF-8";
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;  
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

main {
  flex: 1;
}

main .content {
  min-height: 800px;
  border-top-left-radius: 1000px 300px;
  border-top-right-radius: 1000px 300px;
  padding: 40px;
}
 
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.logo-set{
	height:100px;
	display: flex;
 	justify-content: center;
  	align-items: center;
}

/*ロゴ画像*/
.logo img{
  align-items: center;
  width:480px;
  height: 200px;
}

/*フッター*/
footer {
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold; /* 文字を太くする */
}
/* 右のサイドバー */
.side-panel {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  right: 20px;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
}

.nav-side ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-side li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.nav-side li img {
  width: 40px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.nav-side li a {
  display: flex;              
  flex-direction: column;     
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s;
}

.logout-border {
  padding-top: 10px;
  margin-top: 10px;
}

/* ページトップボタン */
.page_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto;
  position: relative;
  bottom: -20px;
}

.page_top img.top-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
}

/* メニュー */
.nav-menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-menu li.with-border {
  padding-left: 20px;
  margin-left: 20px;
}

.nav-menu li a {
  display: flex;
  flex-direction: row; /* ここを row に変更して横並びにする */
  align-items: center;
  text-decoration: none;
  gap: 5px; /* 画像と文字の間隔 */
}

.nav-menu li img {
  width: 40px;
  height: auto;
}

.nav-menu a {
  text-decoration: none;
}
