@charset "UTF-8";

/* ========
   カレンダー
   ========*/
table.calendar {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

table.calendar th, table.calendar td {
  border: 1px solid #ccc;
  width: 14.28%;
  height: 60px;
  text-align: center;
  vertical-align: top;
}

table.calendar th {
  background-color: #eee;
}

/*カレンダーの月移動リンク*/
.nav-links {
  margin-bottom: 10px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

/* ===================
   星(スコア)
   ===================*/
   
/*radioボタンを消す*/
input[type='radio'] {
  display: none;
}

label {
  font-size: 30px;
  color: #ccc;
}
input:checked + label {
  color: gold;
}

.star {
  color: #ccc;
  font-size: 30px;
}

.star.filled {
  color: gold;
}

/* ==========
   グラフ表示用
   ==========*/
/*グラフの色はJSP側で変更*/

.chart-container {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-top: 20px;
}

.chart-box {
  width: 30%;
  min-width: 250px;
}

canvas {
  width: 100% !important;
  height: auto !important;
}
