@charset "UTF-8";
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #8bdb9f;
}

header {
  background-color: #8bdb9f;
  text-align: center;
  padding: 20px 0;
  font-weight: bold; 
}
/*ロゴ画像*/
.logo img{
  align-items: center;
  width:480px;
  height: 200px;
}

main {
  background-color: white;
  min-height: 900px;
  border-top-left-radius: 1000px 300px;
  border-top-right-radius: 1000px 300px;
  padding: 40px;
}
.login {
      display: flex;
      flex-direction: column;
      gap: 10px; /* ボックス間の間隔 */
      width: 200px; /* 必要に応じて調整 */
      margin: 0 auto;
}
.input-group {
      display: flex;
      flex-direction: column;
}
label {
      font-size: 26px;
}

input {
    	background-color: #fcfefc; /*テキストボックス背景色*/
      	padding: 10px;
      	font-size: 15px;
      	margin-top :15px;
      	border-radius: 15px; /* 角を丸くする */
      	border: 2px solid #d2f8d8 ; /*テキストボックス枠線の色*/
}
.button{
	margin-left:50px;
}

#log{
	font-size:22px;
	width:130px;
	height:70px;
}

#res{
	width:100px;
	margin-top:40px
}


.bt{
	background-color: #b4ebc1; /* ボタンの背景色 */
  	/*color: white; /* テキストの色 */
  	font-size: 16px; /* フォントサイズ */
  	padding: 10px 20px; /* 内側の余白 */
  	border: none; /* 枠線を削除 */
  	border-radius: 30px; /* 角を丸くする */
  	cursor: pointer; /* ホバー時にポインターを表示 */
  	transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

.bt:hover {
  background-color: #88df9b; /* ホバー時の背景色 */
}

.bt:active {
  background-color: #66d780; /* クリック時の背景色 */
  transform: scale(0.98); /* クリック時の軽い縮小効果 */
}

.login-form {
  border: 5px solid #98e4ab;
  border-radius: 30px;
  padding: 20px;
  max-width: 400px;  /* 最大幅を指定 */
  width: 100%;       /* 親要素に対して100%幅 */
  margin: 0 auto;
  background-color: #d2f8d8;
  box-sizing: border-box; /* パディング込みで幅を管理 */
}



.back{
	font-size: 20px;
	text-align:center;
	text-decoration: none;
}

a{
	color:#6262ff;
}
a:link{
	color: #F07D34;
	text-decoration: none;
}

a:hover {
    color: #ffa4a4;
    text-decoration: none;
}

.copyright{
	color:#fff;
}

footer {
  text-align: center;
  padding: 8px 0;


  background-color: #8bdb9f;

  font-size: 12px;
  font-weight: bold;
}
    