@charset "UTF-8";

/*相手のユーザー情報*/
.user-profile{
	text-align:center;			/*文字の中央揃え*/
	max-width:650px;
	border-radius: 30px; /* 角を丸くする */
  	margin:0 auto;
}

/* タブ */
.tab-content {
    display: none;
    text-align:center;
}
.tab-content.active {
    display: block;
}
.tab {
	background-color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px;
    border-radius: 30px; /* 角を丸くする */
    margin-right: 4px;
}

#tab-menu .tab:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
    cursor: pointer;          /* カーソルをポインターに */
    color: #333;              /* テキスト色を少し濃くする */
    transition: background-color 0.3s, color 0.3s; /* なめらかに変化 */
}

#tab-menu .tab:action{
	transform: scale(0.98); /* クリック時の軽い縮小効果 */
}

canvas {
	background-color: #fff;
	border-radius: 30px; /* 角を丸くする */
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: auto;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

/*グラフのスタイル*/
#chart-average-score,
#chart-food,
#chart-sleep,
#chart-walk {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*戻るボタン*/
.bt{
  	font-size: 16px; /* フォントサイズ */
  	padding: 10px 20px; /* 内側の余白 */
  	border: none; /* 枠線を削除 */
  	border-radius: 30px; /* 角を丸くする */
  	cursor: pointer; /* ホバー時にポインターを表示 */
  	transition: background-color 0.3s ease; /* ホバー時のアニメーション */
	margin-top:10px;
  	margin-bottom:10px;
}


.bt:active {
  transform: scale(0.98); /* クリック時の軽い縮小効果 */
}

