@charset "UTF-8";

/*相手のユーザー情報*/
.user-profile{
	text-align:center;
}

.comparison{
	text-align:center
}

/* タブ */
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.tab {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-right: 4px;
}
canvas {
	text-align:center;
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: auto;
}