@charset "UTF-8";
body {
  background-color: #8bdb9f;
  color: #ffffff;  
}

header {
  background-color: #8bdb9f;
}

main .content {
  background-color: white;
}

/*フッター*/
footer {
  color: #ffffff;
}