@charset "UTF-8";

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;  
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.logo-set{
	height:100px;
	display: flex;
 	justify-content: center;
  	align-items: center;
}

main {
  flex: 1;
}

main .content {
  min-height: 800px;
  border-top-left-radius: 1000px 300px;
  border-top-right-radius: 1000px 300px;
  padding: 40px;
}
 
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/*ロゴ画像*/
.logo img{
  align-items: center;
  width: 30px;
  height: auto;
}

/*フッター*/
footer {
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold; /* 文字を太くする */
}
/* 全体中央配置用ラッパー */
.container {
  display: flex;
  flex-direction: column; /* 縦並び */
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さに合わせる */
  position: relative;
   padding-top: 50px; /* 上からの余白 */
  justify-content: flex-start; /* ← 上に寄せる */
}

/* ボタン */
button.bt {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* 吹き出しとの間に余白 */
  margin-bottom: 0;
}
/* 吹き出し */
.balloon3 {
  width: 280px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50% / 50%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.balloon3:before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -20px;
  border: 20px solid transparent;
  z-index: 0;
}

/* メッセージ文字サイズ */
.redirect-message {
  font-size: 18px;
}

