@charset "UTF-8";


.new_info {
  			display: grid;
      		grid-template-columns: repeat(1, 1fr); /* 横2列 */
     		gap: 10px; /* ボックス間の余白 */
      		max-width: 400px; /* 全体の幅を調整 */
      		margin: 0 auto; /* 中央揃え */
}

.box {
      display: flex;
      flex-direction: column;
}

label {
      margin-bottom: 5px;
      font-weight: bold;
}
input {
      padding: 8px;
      font-size: 14px;
}

.button{
	text-align:center;
}

.back{
	text-align:center;
}


