@charset "UTF-8";
body {
  background-color: #8bdb9f; /*メインカラー*/
  color: #000000;  
}

header {
  background-color: #8bdb9f;/*メインカラー*/
}
main .content {
  background-color: white;
}
/*フッター*/
footer {
  background-color: #8bdb9f;/*メインカラー*/
  color: #ffffff;
}
/* 右のサイドバー */
.side-panel {
  background-color: #8bdb9f;/*メインカラー*/
  border-radius: 20px;
  color: white;
}

.nav-side li a {
  color: white;
}

.nav-side li a:hover {
  color: #fbd5de;/*反対色？*/
}

.logout-border {
  border-top: 1px solid white;
}

/* ページトップボタン */
.page_top {
  background-color: #89eca0;/*メインカラーより再度高め*/
  color: white;
}
/* メニュー */

.nav-menu li.with-border {
  border-left: 1px solid #ffffff;
}

.nav-menu li a {
  color: #ffffff;
}
.nav-menu a {
  color: white;
}

.nav-menu a:hover {
  color: #fbd5de;/*反対色？*/
}


/*friendlist*/
/* ID検索フォーム */
.searchFriend {
  border: 5px solid #8bdb9f;/*メインカラー*/
  background-color: #d2f8d8;/*メインカラーより明るく薄い*/
}


.searchFriend input[type="text"] {
  border: 2px solid #d2f8d8;/*メインカラーより明るく薄い*/
  background-color: #ffffff;
}

.searchFriend .bt {
  background-color: #a6e9c2;/*メインカラーより透明感がある*/
}

.searchFriend .bt:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}

.searchFriend label {
  color: #000000;
}
/*申請一覧フレンド一覧横線*/
.application-item:not(:last-child),
.friend-list li:not(:last-child) {
  border-bottom: 5px solid #8bdb9f;/*メインカラー*/
}

/* 共通: 申請一覧とフレンド一覧の外枠 */
.application-list,
.friend-list {
  background-color: #d2f8d8;/*メインカラーより明るく薄い*/
  border: 5px solid #8bdb9f;/*メインカラー*/
}

/* 申請一覧タイトルとフレンド一覧タイトル */
.application-list > p,
.friend-list > p {
  color: #000;
}

/* 申請一覧とフレンド一覧のボタン共通 */
.checkApply .bt,
.checkApply input[type="submit"],
.friend-list .bt,
.friend-list input[type="submit"] {
  background-color: #a6e9c2;/*メインカラーより透明感がある*/
}

.checkApply .bt:hover,
.checkApply input[type="submit"]:hover,
.friend-list .bt:hover,
.friend-list input[type="submit"]:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
/* 結果表示画面ボタン */
button.bt {
  background-color: #a6e9c2;/*メインカラーより透明感がある*/
}

button.bt:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}

/* 吹き出し */
.balloon3 {
  color: #FFF;
  background: #8fdab0;/*メインカラーより若干暗め*/
}

.balloon3:before {
  border-top: 20px solid #8fdab0;/*メインカラーより若干暗め*/
}
/*friendlistおわり*/
/*health*/
.health{
  background-color:#d2f8d8 ;/*メインカラーより明るく薄い*/
  border: 5px solid #8bdb9f;/*メインカラー*/
}

.pull{
	background-color:#ffffff;
	border: 3px solid #8bdb9f;/*メインカラー*/
}
.bt{
	background-color: #a6e9c2;/*メインカラーより透明感がある*/
  	
}
.bt:hover {
  background-color:#8fdab0;/*メインカラーより若干暗め*/
}
.bt:active {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
input[type="radio"]:checked + label:before {
  outline: 3px solid #8bdb9f;/*メインカラー*/
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
/*healthおわり*/
/*addfriend*/
.friendInfo {
  background-color: #d2f8d8;/*メインカラーより明るく薄い*/
  border: 5px solid #8bdb9f;/*メインカラー*/
}
.friendInfo p {
  color: #000;
}
.friendInfo input[type="submit"] {
  background-color: #a6e9c2;/*メインカラーより透明感がある*/
}
.friendInfo input[type="submit"]:hover:not([disabled]) {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.friendInfo input[type="submit"]:disabled {
  background-color: #ccc;
}
.friend-buttons input[type="submit"] {
  background-color: #a6e9c2;/*メインカラーより透明感がある*/
}
.friend-buttons input[type="submit"]:hover:not([disabled]) {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}

/*addfriendおわり*/
/*useroption*/
/* モーダル背景 */
.popup-overlay {
		background-color: rgba(0,0,0,0.5); /* 半透明の黒背景 */
}
/* モーダル本体 */
.popup-window {
  background:#d2f8d8;/*メインカラーより明るく薄い*/
  border: 5px solid #8bdb9f;/*メインカラー*/
  box-shadow: 0 0 10px rgba(0,0,0,0.25); /* 影 */  
}
.Iconbutton{
	background-color: #a6e9c2;/*メインカラーより透明感がある*/
}
.Iconbutton:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.Iconbutton:active {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.Themebutton{
	background-color:#a6e9c2;/*メインカラーより透明感がある*/
}
.Themebutton:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.Themebutton:active {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.back{
	background-color: #a6e9c2;/*メインカラーより透明感がある*/
  	/*color: white; /* テキストの色 */	
}
.back:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.form-wrapper {
  border: 5px solid #8bdb9f;/*メインカラー*/
  background-color:#d2f8d8;/*メインカラーより明るく薄い*/
}
/*テキストボックスデザイン*/
label {
      color:#000000;
}
input {
    	background-color: wite; /*テキストボックス背景色*/
      	border: 2px solid #8bdb9f;/*メインカラー*/
}
.save {
	background-color:#a6e9c2;/*メインカラーより透明感がある*/
}
.save:hover {
  background-color: #8fdab0;/*メインカラーより若干暗め*/
}
.save:active {
  background-color:#8fdab0;/*メインカラーより若干暗め*/
}
/*useroptionおわり*/
/*bornus*/
.stamp {
      background-color: #eee;
      border: 2px solid #ccc;      
    }
.stamp.checked {
      background-color: #a6e9c2;/*メインカラーより透明感がある*/
      border-color: #8bdb9f;/*メインカラー*/     
    }   
  
/*bornusおわり*/